body {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #182747;
  }

  #app {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 400px;
    height: 500px;
    background: #FEF5AC;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
  }

  #todo-subtitle {
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid;
  }

  form {
    padding: 0 35px;
    box-sizing: border-box;
  }


  #todo-input {
    background: none;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 70%;
    padding: 0 10px;
  }

  #todo-submit {
    width: 20%;
    height: 33px;
    border: none;
    font-size: 14px;
    background-color: #61d865;
    border-radius: 5px;
    color: black;
  }

  #todo-submit:hover {
    background-color: #39a53e;
    color: white;
  }